<div id="bookOptionsPane" class="d-flex justify-content-end d-none">

    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-references" role="button">
        <i class="fa-solid fa-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-references" title="References"></i>
    </button>

    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-videos" role="button">
        <i class="fa-solid fa-tv" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-videos" title="Videos"></i>
    </button>

    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-books" role="button">
        <i class="fa-solid fa-book" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-books" title="Books"></i>
    </button>

    {{ partial "course-link.html" . }}

    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-notes" role="button">
        <i class="fa-regular fa-clipboard" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-notes" title="Notes"></i>
    </button>

    {{ partial "practice-link.html" . }}

    {{ partial "classes-link.html" . }}

</div>


