<div id="bookOptionsPane" class="d-flex justify-content-end d-none">

    {{ partial "classes-link.html" . }}


    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-videos" role="button">
        <i class="fa-solid fa-tv" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-videos" title="Videos"></i>
    </button>

    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-references" role="button">
        <i class="fa-solid fa-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-references" title="References"></i>
    </button>


    {{ if ne .Parent.Title "Books"}}
    {{ partial "practice-link.html" . }}
    {{end}}

    {{ partial "course-link.html" . }}

    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-notes" role="button">
        <i class="fas fa-search" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-notes" title="Notes"></i>
    </button>

    <div class="btn-group">
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        <label class="btn btn-outline-primary" for="btn-check-outlined"><i
                class="fa-solid fa-pencil" title="Take Notes"></i></label><br>

        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript://"><i class="fa-solid fa-bezier-curve"></i></a></li>
        </ul>
    </div>
</div>