{{ if ne .Type "courses"}}

<footer class="container">
  <div class="container navbar navbar-expand-md py-0 fixed-bottom z-1">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link px-2 text-body-secoundary"
            href="/terms-and-conditions"
            ><small>Terms and conditions</small></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 text-body-secoundary" href="/refund-policy"
            ><small>Refund Policy</small></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-2 text-body-secoundary justify-content-end"
            href="/about"
            ><small>About</small></a
          >
        </li>
      </ul>
    </div>
    <small class="col text-center"> Ⓒ OurKadai Technologies </small>
    <div class="col"></div>
  </div>
</footer>
{{ end }}
