{{ if ne .Type "courses"}}

<footer>
  <nav class="navbar navbar-expand-md py-0 fixed-bottom">    
    <div class="container border-bottom border-top-1 shadow-sm bg-body position-relative">
      <div class="dropup me-3">
        <button class="btn dropdown-toggle" type="button" id="themeDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
            <use href="#circle-half"></use>
          </svg>
        </button>
        <ul class="dropdown-menu me-auto" aria-labelledby="themeDropdown">
          <li><a class="dropdown-item" href="#" data-theme="auto"> <svg class="bi my-1 theme-icon-active" width="1em"
                height="1em">
                <use href="#circle-half"></use>
              </svg> Auto</a></li>
          <li><a class="dropdown-item" href="#" data-theme="light"> <svg class="bi my-1 theme-icon-active" width="1em"
                height="1em">
                <use href="#sun-fill"></use>
              </svg> Light</a></li>
          <li><a class="dropdown-item" href="#" data-theme="dark"> <svg class="bi my-1 theme-icon-active" width="1em"
                height="1em">
                <use href="#moon-stars-fill"></use>
              </svg> Dark</a></li>
        </ul>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link px-2 text-body-secoundary " href="/terms-and-conditions">Terms and conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 text-body-secoundary" href="/refund-policy">Refund Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 text-body-secoundary justify-content-end" href="/about">About</a>
        </li>
      </ul>
      <p class="mb-0 text-body-secoundary float-end justify-content-end" > Ⓒ OurKadai Technologies </p>


    </div>
  </nav>
</footer>
{{ end }}