<nav class="navbar navbar-expand-md navbar-light bg-white py-0 fixed-top">
  <div class="container-fluid border-bottom border-top-1 shadow-sm bg-body">
    <span class="navbar-brand lh-1">
      <span class="h5"><strong>Gurukulams</strong></span><br>
      
      <div class="text-muted text-end w-100 p-0 mb-0 dropdown border-0">
        <small data-code={{$.Site.Home.Language.Lang}} class="dropdown-toggle" type="button" id="languageBtn" data-bs-toggle="dropdown" aria-expanded="false">
          {{$.Site.Home.Language.LanguageName}}
        </small>
        <ul class="dropdown-menu" aria-labelledby="languageBtn">
          {{ range $.Site.Home.Translations }}
          
          <li><a class="dropdown-item" data-code={{.Language.Lang}} href="{{ if (ne .Language.Lang "en") }}{{ .Language.Lang }}{{ $.Permalink }} {{ else }}{{ substr $.Permalink 3 }}{{ end }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>

        
      </div>

    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="subjectList">
      </ul>

      <ul class="navbar-nav secured">
        
        <!-- <li class="nav-item">
          <a class="nav-link" href="chat"><i class="fas fa-search fa-2x pt-2"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chat"><i class="far fa-comment fa-2x pt-2"></i></a>
        </li> -->
        <li class="nav-item">

          <div class="btn-group bg-light">
            
              <div class="d-flex bd-highlight">
                <div class="w-100 bd-highlight text-end">
                  <div class="dropdown" id="boardsDropdown">
                    <a href="javascript://" class="text-decoration-none h6 fw-bold"  data-bs-toggle="dropdown" aria-expanded="false">
                      Board
                    </a>
                  
                  </div>
                  <div class="dropdown" id="dropdownMenuButton2">
                    <a href="javascript://" class="text-decoration-none "  data-bs-toggle="dropdown" aria-expanded="false">
                      Grade
                    </a>
                  </div>
                </div>
                <a class="btn btn-toggle pe-0" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="flex-shrink-1 bd-highlight dropdown">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-thumbnail avatar"
                    style="vertical-align: middle;border-radius: 50%; width: 3rem; margin-right: 10px;" alt="avatar">
                </div>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="/learner/tom">Profile</a></li>
                <li><a class="dropdown-item" href="/campuses/tamil-sangam">Campus</a></li>
                <li><a class="dropdown-item logout" href="javascript://">Logout</a></li>
              </ul>

              </div>
            
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>