<nav class="navbar navbar-expand-md navbar-light bg-white py-0 fixed-top">
  <div class="container-fluid border-bottom border-top-1 shadow-sm bg-body">
    <span class="navbar-brand lh-1">
      <span class="h5"><strong>Gurukulams</strong></span><br>
      
      <div class="text-muted text-end w-100 p-0 mb-0 dropdown border-0">
        <small class="dropdown-toggle" type="button" id="languageBtn" data-bs-toggle="dropdown" aria-expanded="false">
          தமிழ்
        </small>
        <ul class="dropdown-menu" aria-labelledby="languageBtn">
          {{ range $.Site.Home.AllTranslations }}
          <li><a class="dropdown-item" href="#">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        </ul>
      </div>

    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/books/maths">கணிதவியல்</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/physics">இயற்பியல்</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/chemistry">வேதியியல்</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/biology">உயிரியல்</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/books/javascript">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/books/c">C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/practices/java">Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="books/maths">திருக்குறள்</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/posts">Blog</a>
        </li> -->
      </ul>

      <ul class="navbar-nav secured">
        <!-- F -->
        <li class="nav-item">
          <a class="nav-link" href="chat"><i class="fas fa-search fa-2x"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chat"><i class="far fa-comment fa-2x"></i></a>
        </li>
        <li class="nav-item pe-0 dropdown">

          <div class="btn-group bg-light">
            <a class="btn btn-toggle pe-0" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="d-flex bd-highlight">
                <div class="w-100 bd-highlight text-end">
                  <h6 class="fw-bold">தமிழக பள்ளிக் கல்வி</h6>
                  <small class="text-muted">11 ம் வகுப்பு</small>
                </div>
                <div class="flex-shrink-1 bd-highlight">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-thumbnail avatar"
                    style="vertical-align: middle;border-radius: 50%; width: 3rem; margin-right: 10px;" alt="avatar">
                </div>


              </div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="/learner/tom">Profile</a></li>
              <li><a class="dropdown-item" href="/campuses/tamil-sangam">Campus</a></li>
              <li><a class="dropdown-item logout" href="javascript://">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>