
{{ if eq $.Page.IsPage true }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.9.2/css/reveal.css"
  integrity="sha512-ELSdJJazJezQ42bIQYmdIk1xCq3hHfSL3e9jRr/0U1JofaybYBceJ3y2UasSokCT4F8Kk4fu5nKEw3JuVneVOA=="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.9.2/css/theme/white.min.css"
  integrity="sha512-0bRpW+1GC+RBSImOJNjFDO3/8wvElYORoZ4CqKxqSeRmmClfEdXfkIx+qrRR1hkhtClxcH5GZFhmKnav7rTxoA=="
  crossorigin="anonymous" />
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">

{{ end }}


