<div class="modal fade" id="noteModel" tabindex="-1" aria-labelledby="noteModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModelLabel">Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <textarea class="form-control" id="noteText" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="imageModel" tabindex="-1" aria-labelledby="imageModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-50" id="imageModelLabel">Image</h5>
        

          
       
          <div class="float-end w-100 py-4 me-4 text-end secured">

              
          <input type="checkbox" class="btn-check" id="btn-check-notes" autocomplete="off">
          <label class="btn btn-outline-primary" for="btn-check-notes"><i class="fa-solid fa-pencil"></i></label>   

      
      
          </div>
   

      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>
      <div class="modal-body d-flex align-items-center">
          <div class="box w-100 text-center">
            <img class="figure-img img-fluid rounded d-none" src="#">

            <figure class="img-fluid w-75 d-none"><div class="goat svg-container w-75 h-75"></div></figure>

          </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvas-classes" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
      

    <div class="d-flex align-items-center w-100">
      <span class="offcanvas-title d-none d-sm-block">Classes</span>
      <div class="d-flex ms-auto">
        <button type="button" class="btn">
          <i class="fa-solid fa-plus" title="Create a new Class"></i>
        </button>
      </div>
    </div>

      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" title="Close"></button>
  </div>
  <div class="offcanvas-body">

      <form id="event-form" class="card h-100 d-none">
        <div class="card-body">
        <div class="mb-3">
          <label for="titleTxt" class="col-form-label">Title</label>
          <input class="form-control" id="titleTxt" required>
        </div>

        <div class="mb-3">
          <label for="eventDateTxt" class="col-form-label">Date and time</label>
          <input type="datetime-local" class="form-control" id="eventDateTxt" required>
        </div>

        <div class="mb-3">
          <label for="meetingUrlTxt" class="col-form-label">Meeting URL</label>
          <input type="url" class="form-control" id="meetingUrlTxt" required>
        </div>

        <div class="mb-3">
          <label for="descriptionTxt" class="col-form-label">Description</label>
          <textarea class="form-control" id="descriptionTxt" required></textarea>
        </div>
      </div>
        <div class="card-footer">

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="far fa-trash-alt" title="Delete"></i>
        </button>

        <button type="button" class="btn btn-secondary">Cancel</button>

        <button type="submit" class="btn btn-primary float-end">Save</button>
      </div>
      </form>


      <ul class="list-group">
        <li class="list-group-item card">
            <div class="card-body">
              <h5 class="card-title">History of C</h5>
              <h6 class="card-subtitle mb-2 text-primary">Nandini</h6>
              <p class="card-text">C programming language is developed by the Dennis M. Ritchie in 1972 at Bell laboratories. It is a simple and structured oriented programming language standardized by the ANSI (American National Standard Institute) in 1988 and known as ANSI-C language</p>
              <small class="card-link"><i class="fa-regular fa-calendar"></i> 12th Jan 2003 7PM-8PM</small>
              <a href="#" class="card-link float-end">&#8377; 10</a>
            </div>
        </li>
      </ul>
  </div>
</div>

<template id="event-card">
  <li class="list-group-item card">
    <div class="card-body">
      <div class="d-flex gap-2">
        <img src="/images/users/jerry.png" class="img-circle img-thumbnail avatar"
          style="vertical-align:middle;border-radius:50%;width:3rem;margin-right:10px" alt="avatar">
        <div>
          <h5 class="card-title">Jerry's Event</h5>
          <h6 class="card-subtitle mb-2 text-primary">jerry</h6>
        </div>
      </div>
      <p class="card-text pt-2">Jerry's Event Happening</p>
    </div>
    <div class="card-footer">
      <i class="fa-regular fa-calendar pe-1"></i><small class="card-link">9/11/2023</small>
      <i class="fa-regular fa-clock pe-1"></i><small class="card-link">7:19:00 pm</small>
      <button class="btn btn-outline-primary float-end" role="button">
        Register
      </button>
    </div>
  </li>
</template>

<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvas-videos" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
      <h6 class="offcanvas-title d-none d-sm-block">Videos</h6>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <ul class="list-group">
        {{ range .Params.References.Videos }}
        {{ $video_segments := split . ":"  }}
        {{ $video_provider := index $video_segments 0  }}
        <li class="list-group-item">
          <div class="ratio ratio-16x9">
            {{if eq $video_provider "youtube"}}
            <iframe src="https://www.youtube.com/embed/{{ index $video_segments 1 }}" title="YouTube video" allowfullscreen></iframe>
            {{ else if eq $video_provider "vimeo"}}
            <iframe src="https://player.vimeo.com/video/777650452?h=25996e5502" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            {{ else }}

            {{ errorf "Video provider %q is not supported" $video_provider }}

            {{ end }}
          </div>
        </li>
      {{ end }}
      </ul>
  </div>
</div>


<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvas-references" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
      <h6 class="offcanvas-title d-none d-sm-block">References</h6>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ol class="list-group list-group-numbered">
      {{ range .Params.References.Links }}
      <li class="list-group-link">
        <a href="{{ . }}" target="_blank">{{ . }}</a>
      </li>
    {{ end }}
    </ol>
</div>
</div>

<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvas-notes" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
      <input type="search" class="form-control" placeholder="Search Notes" aria-label="Notes" aria-describedby="addon-wrapping">
    </div>
     
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
      
    </ul>
</div>
</div>


<script type="text/javascript" src="/js/chapter.js"></script>

