{{ if eq $.Page.IsPage true }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"
    integrity="sha512-8Nk/zoTKjNixnM15wXjpF26KR4Ln87cc5Yllc5xP54wwbcKnljAAn2JP+tYAS8+4e7s/XK8XTiDH0Ltw2fmoBQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.9.2/js/reveal.js"
    integrity="sha512-VMwkG0MdbDSSM3wUzu6Ny450qkGMXTuBJdN1ssTZPTNWBkXxSYuvhW/o6eu7YQ2H1X2X1thKs6xdt8+obhX4Gg=="
    crossorigin="anonymous"></script>

<script>
    Reveal.initialize({
        dependencies: [
            {
                src: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js', 
                async: true, 
                callback: function () { hljs.highlightAll(); }
            }
        ]
    });
</script>

{{ end }}