<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

<head>


  {{ block "head" . }}{{ partial "head" . }}{{end}}




</head>

<body class="d-flex flex-column min-vh-100">
  
 
  {{ block "header" . }}{{ partial "header" . }}{{end}}
 
  <main id="main-container" class="container-fluid mt-5 py-4 w-100 h-100">
      {{ block "main" . }}{{end}}
  </main>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}



    
  {{ block "scripts" . }}{{ partial "scripts" . }}{{end}}


    
  
</body>

</html>