**/*ipr
**/*iws
**/*iml
**/target
**/data
**/bin
**/nbproject
**/nbactions.xml
**/bower_components
**/dist
**/node_modules
**/.sass-cache
**/.tmp
.settings
.classpath
.project
**/**.iml
**.iml
**/**.ipr
**.ipr
**/**.iws
**.iws
.idea
*~
\#*
**/.DS_Store
build
**/**.log
**/deploy.txt
package-lock.json
