.editor-preview {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-emphasis-color) !important;
}

.CodeMirror {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-emphasis-color) !important;
}