.reveal {
    color: var(--bs-emphasis-color) !important;
    h1, h2, h3, h4, h5, h6 {
    color: var(--bs-emphasis-color) !important;
    }
}

.reveal-viewport {
    background-color: var(--bs-body-bg) !important;
}