html {
    --header-size: 58px;
    --scrollbar-height: 3px;
    --scrollbar-bg: var(--bs-body-bg);
    --scrollbar-progress-color: var(--bs-primary-text-emphasis);
}

#main-container {
    margin-top: calc(var(--header-size) + var(--scrollbar-height));
    padding: 2rem;
}

body {
    background: linear-gradient(to right top,
            var(--scrollbar-progress-color) 50%,
            var(--scrollbar-bg) 50%);
    background-size: 100% calc(100% - 100vh + var(--header-size) + var(--scrollbar-height) + 1px);
    background-repeat: no-repeat;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: calc(var(--header-size) + var(--scrollbar-height));
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: var(--bs-body-bg);
}

* {
    box-sizing: border-box;
}