{{ define "main" }}

<nav class="navbar">



    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="far fa-file-powerpoint"></i></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{.Title}}
        </li>
    </ol>
      

   
  </nav>
  

<main class="pt-3">
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}