{{ define "main" }}

<nav class="navbar border-1 border-bottom">
    <div class="row w-100">
        <h5 class="text-center">{{.Title}}</h5>
    </div>
  </nav>
  

<main class="pt-3">
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <p style="height: 6px;">
            <a href="{{.Permalink}}">{{.Title}}</a>
            </p>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>

        </li>
    {{ end }}
    </ul>
</main>
{{ end }}