{{ define "main" }} 
{{ $section := .Site.GetPage "section" .Section }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.9.2/css/reveal.css"
  integrity="sha512-ELSdJJazJezQ42bIQYmdIk1xCq3hHfSL3e9jRr/0U1JofaybYBceJ3y2UasSokCT4F8Kk4fu5nKEw3JuVneVOA=="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.9.2/css/theme/white.min.css"
  integrity="sha512-0bRpW+1GC+RBSImOJNjFDO3/8wvElYORoZ4CqKxqSeRmmClfEdXfkIx+qrRR1hkhtClxcH5GZFhmKnav7rTxoA=="
  crossorigin="anonymous" />
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">

<div class="p-5">
    {{- .Content -}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"
    integrity="sha512-8Nk/zoTKjNixnM15wXjpF26KR4Ln87cc5Yllc5xP54wwbcKnljAAn2JP+tYAS8+4e7s/XK8XTiDH0Ltw2fmoBQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.9.2/js/reveal.js"
    integrity="sha512-VMwkG0MdbDSSM3wUzu6Ny450qkGMXTuBJdN1ssTZPTNWBkXxSYuvhW/o6eu7YQ2H1X2X1thKs6xdt8+obhX4Gg=="
    crossorigin="anonymous"></script>

<script>
    Reveal.initialize({
        dependencies: [
            {
                src: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js', 
                async: true, 
                callback: function () { hljs.highlightAll(); }
            }
        ]
    });
</script>
{{ end }}