
// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

// Typography Variables
$font-family-sans-serif: Poppins Text,Helvetica Neue,Apple Color Emoji,sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;
