{{ $image := (printf "%s%s" .Page.File.Dir (.Destination | safeURL )) }}


{{ if fileExists $image }}
<figure class="figure {{ with .Title }}{{ . }}{{ end }}">
  
  {{ if eq .Page.Language.Lang "en" }}
  <img src="{{ $image }}" alt="{{ .Text }}" class="w-100"/>
  {{ else }}
  <picture>
    <source srcset="/{{ .Page.Language.Lang }}/{{ $image }}">
    <img src="{{ $image }}" alt="{{ .Text }}" class="w-100"/>
  </picture>
  {{ end }}

  <figcaption class="figure-caption text-center">
    {{ .Text }}
  </figcaption>
</figure>

{{ else }}
{{ errorf "Failed to image at %q" $image }}
{{ end }}
