{{ $img := resources.Get (.Get 0) }}
{{ $command := .Get 2 }}
{{ $options := .Get 3 }}
{{ if eq $command "Fit"}}
  {{ $img = $img.Fit $options }}
{{ else if eq $command "Resize"}}
  {{ $img = $img.Resize $options }}
{{ else if eq $command "Fill"}}
  {{ $img = $img.Fill $options }}
{{ else if eq $command "Crop"}}
  {{ $img = $img.Crop $options }}
{{ end }}
<figure class="figure {{ (.Get 1) }}">
  <img class="figure-img w-100 img-fluid rounded" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" 
  height="{{ $img.Height }}">
  <figcaption class="figure-caption text-center">
  
    {{ with .Inner }}
    {{$.Page.RenderString .}}
    {{ else }}
      .{{ $command }} "{{ $options }}"
    {{ end }}

  </figcaption>
</figure>