{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div id="content" class="d-none" data-type="{{.File.TranslationBaseName}}">

  <div id="navPane" class="d-flex">
    <div class="flex-grow-1">

      <div class="d-flex align-items-center gap-1">
        <span class="text-muted">Books /</span>
        <ol class="breadcrumb mb-1"></ol>
      </div>
      
      </div>
    {{ if eq .File.BaseFileName "question"}}
    <div>
        <button
          type="button"
          class="btn d-none"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          title="Delete"
        >
          <i class="far fa-trash-alt text-danger"></i>
        </button>

        <button
          class="btn dropdown-toggle d-none"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          title="Add question"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
        <ul
          class="dropdown-menu add-btns"
          aria-labelledby="dropdownMenuButton1"
        >
          <li data-type="CHOOSE_THE_BEST">
            <a class="dropdown-item" href="javascript://">Choose the best</a>
          </li>
          <li data-type="MULTI_CHOICE">
            <a class="dropdown-item" href="javascript://">Multi-choice</a>
          </li>
        </ul>
        <button
              type="button"
              class="btn d-none"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Explain"
            >
              <i class="fa-solid fa-question"></i>
            </button>
        <button
          type="button"
          class="btn{{ if getenv "BUILD_PRODUCTION" }} d-none{{ end }}"
          title="Edit Question"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>


      
    </div>
    {{else}}
    <div id="statusTxt" class="lead"></div>
    {{ end }}
    <div><nav aria-label="Page Navigation">
      <ul class="pagination">
        <!--NEED tO REMOVE-->
        <li class="page-item" title="Previous Question">
          <a class="page-link" href="javascript://" aria-label="Previous">
            <span aria-hidden="true"><i class="fa-solid fa-backward-step"></i></span>
          </a>
        </li>
        <li class="page-item" title="Next Question">
          <a class="page-link" href="javascript://" aria-label="Next">
            <span aria-hidden="true"><i class="fa-solid fa-forward-step"></i></span>
          </a>
        </li>
      </ul>
    </nav></div>

    <div id="fabPane" class="dropup btn-group position-fixed bottom-0 end-0 rounded-circle me-2 mb-4 z-3">
      {{ if eq .File.BaseFileName "question"}}
        <button type="button" class="btn btn-primary d-none" title="Save Question">
          <i class="fa-solid fa-floppy-disk"></i> | Save&nbsp;
        </button>
        <button type="button" class="btn btn-primary" title="Check Question">
          <i class="fa-solid fa-check"></i> | Verify
        </button>
      {{else}}
      <button type="button" class="btn btn-primary" title="Submit Answers">
        <i class="fa-regular fa-envelope"></i> | Submit
      </button>
      {{ end }}
    </div>

  </div>


  <div id="questionPane" class="row h-50">
    <div class="col-6">
      <span id="questionContainer">
        <textarea
          class="form-control h-100"
          placeholder="Question"
          id="qTxt"
          rows="3"
        ></textarea>
      </span>
      <div class="form-floating mb-3 h-100" id="matcheContainer"></div>
    </div>
  
    <div class="col-6">
      <span id="explanationContainer" class="d-none">
        <textarea
          class="form-control h-100"
          placeholder="Explanation"
          id="eTxt"
          rows="3"
        ></textarea>
      </span>
  
      <div class="form-floating mb-3 h-100" id="answerContainer"></div>
    </div>
  </div>
    
</div>

<div id="notfound" class="row d-none">
  {{ partial "error-page.html" . }}
</div>

<template id="radioList">
  <ul class="list-group">
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="c1" />
        <label class="form-check-label w-100" for="c1"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="c2" />
        <label class="form-check-label w-100" for="c2"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="c3" />
        <label class="form-check-label w-100" for="c3"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="c4" />
        <label class="form-check-label w-100" for="c4"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="c5" />
        <label class="form-check-label w-100" for="c5"></label>
      </div>
    </li>
  </ul>
</template>

<template id="checkboxList">
  <ul class="list-group">
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" name="mc1" id="mc1" />
        <label class="form-check-label w-100" for="mc1"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" name="mc2" id="mc2" />
        <label class="form-check-label w-100" for="mc2"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" name="mc3" id="mc3" />
        <label class="form-check-label w-100" for="mc3"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" name="mc4" id="mc4" />
        <label class="form-check-label w-100" for="mc4"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" name="mc5" id="mc5" />
        <label class="form-check-label w-100" for="mc5"></label>
      </div>
    </li>
  </ul>
</template>

<template id="matchesList">
  <ul class="list-group">
    <li class="list-group-item d-flex align-items-center">
      <span><span class="justify-content-start"><i class="fa-solid fa-arrow-up px-2"></i><i class="fa-solid fa-arrow-down"></i></span></span>
      <div class="form-check">
        <label class="form-check-label"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <span><span class="justify-content-start"><i class="fa-solid fa-arrow-up px-2"></i><i class="fa-solid fa-arrow-down"></i></span></span>
      <div class="form-check">
        <label class="form-check-label"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <span><span class="justify-content-start"><i class="fa-solid fa-arrow-up px-2"></i><i class="fa-solid fa-arrow-down"></i></span></span>
      <div class="form-check">
        <label class="form-check-label"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <span><span class="justify-content-start"><i class="fa-solid fa-arrow-up px-2"></i><i class="fa-solid fa-arrow-down"></i></span></span>
      <div class="form-check">
        <label class="form-check-label"></label>
      </div>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <span><span class="justify-content-start"><i class="fa-solid fa-arrow-up px-2"></i><i class="fa-solid fa-arrow-down"></i></span></span>
      <div class="form-check">
        <label class="form-check-label"></label>
      </div>
    </li>
  </ul>
</template>

 

{{ end }}