{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<main class="container-fluid px-0">


    <nav class="navbar">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fa-regular fa-calendar-days fa-2x pe-2"></i>
                <span class="h5 pt-2">Events</span></li>
        </ol>
        <!-- <div class="d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    All
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">My Events</a></li>
                </ul>
            </div>
        </div> -->
    </nav>

    <div id="event-container" class="row w-100">
        {{ partial "event-manager" . }}
    </div>
</main>
{{ end }}