
// Theme Related 
$theme-colors: (
    "primary": #346cb0,
    "secondary": #f6f7f9,
    "success": #00a28a,
    "info": #0179a8,
    "warning": #f7c46c,
    "danger": #b76ba3,
    "light": #f6f7f9,
    "dark": #222230
);

// Typography Related
$link-color: #00a28a;
$headings-color:              #00a28a;
$mark-bg:                     #fcf8e3;
$blockquote-footer-color:     #ff00ff;