{{ define "main" }}
<main class="container-fluid h-100">


  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto text-center">
      <img src="/images/thiruvalluvar.svg" alt="thiruvalluvar" class="img-thumbnail w-25">
      <p class="lead">எண்ணென்ப ஏனை எழுத்தென்ப இவ்விரண்டும் </br>
        கண்ணென்ப வாழும் உயிர்க்கு <cite title="குறள் எண்:392">குறள் எண்:392</cite></p>
      <p>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

    </div>
  </div>


  <!--
  <div class="row"><div class="col-lg-6 col-md-8 mx-auto">
    <div class="input-group">
       <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Books</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Publications</a></li>
        <li><a class="dropdown-item" href="#">Colleges</a></li>
      </ul> 
      <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
      <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
    </div></div>
  </div>
  -->



  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

    {{ range (where .Site.Pages "Section" "publications") }}
    {{ range .Pages }}
    <a href="{{ .Permalink }}" class="text-decoration-none">
      <div class="col d-flex align-items-start"><i class="fa-solid fa-book-open-reader fa-2x"></i>
        <div class="px-2">
          <h3 class="fw-bold mb-0 fs-4">{{ .Title }}</h3>
          <p>{{ .Description }}</p>
        </div>
      </div>
    </a>
    {{ end }}
    {{ end }}



  </div>


</main>

<template id="personal-home">
  <div class="row">
    <div class="col card px-2">
        <div class="card-header">
          <span class="h5"><i class="fa-regular fa-calendar-days pe-2"></i>Events</span>
        </div>
        <div id="event-container" class="card-body">
          {{ partial "event-manager" . }}
        </div>
    </div>
    <div class="col card px-2">
      <div class="card-header">
        <span class="h5"><i class="fa-solid fa-book pe-2"></i> Subjects</span>
      </div>
      <div class="card-body">
        <ul class="list-group">

          {{ range $.Site.Data.publications.csebooks.books }}
            <li class="list-group-item">
                <div class="col-sm-6 col-xl-4 mt-4">
                  <a href="/books/csebooks/{{.path}}" class="card border-0 rounded-3 text-decoration-none">
                      <div class="card-body">
                        <h3 class="h5 mb-3 text-primary">{{.fields.title}}</h3>
                        <p class="mb-0 text-black">{{.fields.description}}</p>
                      </div>
                  </a>
                </div>
            </li>
          {{ end }}


          
        </ul>
      </div>
  </div>
  <div class="col card px-2">
    <div class="card-header">
      <span class="h5"><i class="fa-regular fa-building pe-2"></i>Organizations</span>
      <i class="fa-solid fa-plus d-none float-end" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Create Organization"></i>
    </div>
    <div id="org-container" class="card-body">
      {{ partial "org-manager" . }}
    </div>
</div>
  </div>
  
</template>
{{ end }}