{{ define "main" }}
<main class="container-fluid h-100">

{{ $thirukkural := site.GetPage "publications/_index.md" }}
{{ if $thirukkural }}
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto text-center">
      <img src="/img/thiruvalluvar.svg" alt="thiruvalluvar" class="img-thumbnail w-25">
      <p class="lead">  {{ $thirukkural.Title }}  <cite title="குறள் எண்"> {{ $thirukkural.Description }} </cite></p>
      <p>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

    </div>
  </div>
{{ end }}

  <!--
  <div class="row"><div class="col-lg-6 col-md-8 mx-auto">
    <div class="input-group">
       <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Books</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Publications</a></li>
        <li><a class="dropdown-item" href="#">Colleges</a></li>
      </ul> 
      <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
      <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
    </div></div>
  </div>
  -->



  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

    {{ range (where .Site.Pages "Section" "publications") }}
    {{ range .Pages }}
    <a href="{{ .Permalink }}" class="text-decoration-none">
      <div class="col d-flex align-items-start"><i class="fa-solid fa-book-open-reader fa-2x"></i>
        <div class="px-2">
          <h3 class="fw-bold mb-0 fs-4">{{ .Title }}</h3>
          <p>{{ .Description }}</p>
        </div>
      </div>
    </a>
    {{ end }}
    {{ end }}



  </div>


</main>

<template id="personal-home">
  <div class="row">
    

    <div class="col card px-2">
      <div class="card-header">
        <i class="fa-solid fa-book pe-2"></i><span class="h5"> Subjects</span>
      </div>
      <div class="card-body">
        <ul class="list-group">

          {{ $data_file := "csebooks" }}

          {{ if ne .Language.Lang "en" }}
          {{ $data_file = printf "%s%s%s" $data_file "." .Language.Lang }}
          {{ end }}


          {{ with ( index $.Site.Data.publications $data_file) }}

          {{ range .books }}


          <li class="list-group-item d-flex justify-content-between align-items-center"
              
          {{ if .fields.chaptersPath }}data-path="{{ .fields.chaptersPath }}"{{ end }}>
            <a href="/books/csebooks/{{.path}}">{{.fields.title}}</a>
            {{ if .fields.chaptersPath }}
            <div class="d-flex justify-content-end">
              <a class="btn" href="/questions{{ .fields.chaptersPath }}" role="button">
                <i class="fas fa-user-check" title="Practices"></i>
              </a>
              <button class="btn" role="button">
                <i class="fa-solid fa-chalkboard-user" title="Classes"></i>
              </button>
            </div>
            {{ end }}
          </li>







          {{ end }}

          {{ end }}



        </ul>
      </div>
    </div>

    <div class="col card px-2">

      <div class="card-header">
        <i class="fa-solid fa-chalkboard-user pe-2"></i><span class="h5">Classes</span>
        <button type="button" class="btn-close d-none float-end" aria-label="Close"></button>
      </div>
     
      <div id="event-container" class="card-body">
        {{ partial "event-manager" . }}
      </div>
    </div>

  </div>

</template>
{{ end }}