blockquote {
  margin: 24px 0px 10px 0px;
  line-height: 1.4;
  font-size: $font-size-small;
  border: none;
  //quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
