// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$nav-link-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: $background-image, url('../images/intro-bg_gs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  max-height: 100vh;
  color: $white;
  h1 {
    font-size: 2.25rem;
  }
  
  
  .carousel {
      height: 110px;
      .carousel-item img{
        border-radius: 50%;
      }     
     p{
       font-size: 0.875rem;
     }
     .blockquote-footer{
       color: rgba(255,255,255,0.54);
     }
  }

  
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $nav-link-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
    img{
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
