.slider {
  padding: 0;
  margin: 0;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 700px;
}

.slider ul {
  width: 1000%;
  height: auto;
  position: relative;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  -moz-animation:slide-animation 20s infinite;
  -webkit-animation:slide-animation 20s infinite;
}

.slider ul:hover {
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
}

.slider li {
  width: 10%;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes slide-animation {
  1% {left: 0%; opacity: 1;}
  16% {left: 0%; opacity: 1}
  17% {opacity: 0.2;}
  19% {left: -100%; opacity: 1;}
  33% {left: -100%; opacity: 1}
  34% {opacity: 0.2;}
  35% {left: -200%; opacity: 1;}
  50% {left: -200%; opacity: 1;}
  51% {opacity: 0.2;}
  52% {left: -300%; opacity: 1;}
  67% {left: -300%; opacity: 1;}
  68% {opacity: 0.2;}
  69% {left: -400%; opacity: 1;}
  84% {left: -400%; opacity: 1;}
  85% {opacity: 0.2;}
  86% {left: -500%; opacity: 1;}
  98% {left: -500%; opacity: 1;}
  99% {opacity: 0.5;}
  100% {left: 0%;}
}

@-moz-keyframes slide-animation {
  1% {left: 0%; opacity: 1;}
  16% {left: 0%; opacity: 1}
  17% {opacity: 0.2;}
  19% {left: -100%; opacity: 1;}
  33% {left: -100%; opacity: 1}
  34% {opacity: 0.2;}
  35% {left: -200%; opacity: 1;}
  50% {left: -200%; opacity: 1;}
  51% {opacity: 0.2;}
  52% {left: -300%; opacity: 1;}
  67% {left: -300%; opacity: 1;}
  68% {opacity: 0.2;}
  69% {left: -400%; opacity: 1;}
  84% {left: -400%; opacity: 1;}
  85% {opacity: 0.2;}
  86% {left: -500%; opacity: 1;}
  98% {left: -500%; opacity: 1;}
  99% {opacity: 0.5;}
  100% {left: 0%;}
}
