.achievements .box{
    background: #FFF;
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover{
        box-shadow: 0 0 6px #4183D7;
     }
     
    .box-text{
         margin:20px 0px;
         font-size: 15px;
         line-height: 30px;
     }
     
    .box-btn a{
         text-decoration: none;
         color: #4183D7;
         font-size: 16px;
     }
    .fa{
        color:#4183D7;
   }
}



