
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";



@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

// Custom.scss
// Option B: Include parts of Bootstrap

// Your variable overrides
@import 'variables';

// Required
@import "../../node_modules/bootstrap/scss/bootstrap";






 
  
