// Import custom variables (overrides Bootstrap default variables)
@import "./variables.scss";


//Third Parties
@import "fontawesome";
@import "bootstrap";


// Import custom styles
@import "navbar";
@import "masthead";
@import "timeline";

body {
    >section.container {
        background-color: green;
        min-width: 100%;
        min-height: 100vh;
    }
}