// Import Custom Variables


@import './base/typography';
@import './themes/theme';
@import './components/sidebar';
@import './components/vertical_tabs';
@import './components/scroll_indicator';


@import './vendors/bootstrap';


.offcanvas.show {
    visibility: visible;
}

.dropup .hide-toggle.dropdown-toggle::after {
    display: none !important;
}

#userMenu.dropdown-toggle::after {
    display: inline;
    position: absolute;
    bottom: -6px;
    margin-left: 0;
    left: 21px;
}