<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gurukulam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" href="#">SSLC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/courses/c-programming">C</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/practices/java">Java</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav secured">
          <li class="nav-item">
            <a class="nav-link mt-2" href="#"><i class="far fa-bell fa-2x"></i></a>
          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-thumbnail avatar" style="vertical-align: middle;width: 30px;height: 30px;border-radius: 50%;" alt="avatar">
            </a>
            <ul class="dropdown-menu drop" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item logout" href="javascript://">Logout</a></li>
            </ul> -->
            <div class="btn-group dropstart">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-thumbnail avatar" 
                style="vertical-align: middle;border-radius: 50%; width: 3rem;" alt="avatar">
              </button>
              <ul class="dropdown-menu mt-5" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item logout" href="javascript://">Logout</a></li>
                <!-- Dropdown menu links -->
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
