---
title: Events
layout: ssr
---

<nav class="navbar">
  <ol class="breadcrumb">
  <li class="text-info px-2"><i class="fa-regular fa-calendar fa-2x"></i>
  </li><li class="breadcrumb-item" aria-current="page">Events</li></ol>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button id="cancelBtn" type="button" class="btn btn-outline-danger d-none">Cancel</button>
    <button id="saveBtn" type="button" class="btn btn-outline-primary">Create New</button>
  </div>
</nav>

<div id="main-content" class="container-fluid">
  
</div>


<template id="event-form">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="title" class="form-label">Title</label>
      <input class="form-control" id="titleTxt">
    </div>

    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="descriptionTxt">
    </div>

    <div class="col-md-6">
      <label for="title" class="form-label">Date</label>
      <input type="date" class="form-control" id="dateTxt">
    </div>
  </form>
</template>