{{ define "main" }}

<nav class="navbar">

    {{ partial "breadcrumbs.html" . }}
    
 
    {{ partial "books-options.html" . }}  
  </nav>
  

<nav class="w-50 p-3">
    <ul class="lead">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>

</nav>

<div class="container-fluid" >
    <div class="row">
        <div id="content" class="lead col-sm-10">{{- .Content -}}</div>
        <div class="col-sm-3 border border-primary">
            {{ if getenv "BUILD_PRODUCTION" }}
                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6796505419342538"
                        crossorigin="anonymous"></script>
                    <!-- Ad1 -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-6796505419342538"
                        data-ad-slot="6137789123"
                        data-ad-format="auto"
                        data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}

