{{ define "main" }}

<nav class="navbar">

    {{ partial "breadcrumbs.html" . }}
    
 
    {{ partial "books-options.html" . }}  
  </nav>
  

<nav class="w-50 p-3">
    <ul class="lead">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>

</nav>

<div class="container-fluid" >
    <div class="row">
        <div id="content" class="lead col-sm-10">{{- .Content -}}</div>

    </div>
</div>

{{ end }}

