{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

  <nav class="navbar border-1 border-bottom">
  <div class="row w-100">
    <div class="col-4 text-start">
      {{if .NextInSection}}<a href="{{strings.TrimRight "/" .NextInSection.Permalink}}">{{.NextInSection.Title}}</a>{{end}}
    </div>
    <div class="col-4 mb-2 text-center">
      <a class="text-dark"
        href="{{strings.TrimRight "/" .Parent.Permalink}}">{{.Parent.Title}}</a>
         <h3>{{.Title}}</h3>
    </div>
    <div class="col-4 text-end">
      {{if .PrevInSection}}<a href="{{strings.TrimRight "/" .PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a>{{end}}
    </div>
  </div>
</nav>

<main id="content" class="pt-3">
  {{- .Content -}}
  <input type="checkbox" name="hide-sidebar" id="hide-sidebar" value="false" style="display: none;" />
    <label class="radio h3" for="hide-sidebar" id="hide-sidebar-control">
        <a class="button is-small"></a>
    </label>
    <div id="sidebar" class="sidebar border border-start border-dark" role="navigation">
      <div class="row">
        <div class="col-10"></div>
        <ul class="list-group float-end col-2 p-0 mt-0">
          <li class="list-group-item"><i class="fa-solid fa-note-sticky"></i></li>
          <li class="list-group-item"><i class="fa-solid fa-list-check"></i></li>
        </ul>
      </div>
    </div>
</main>


{{ end }}