{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

  <nav class="navbar border-1 border-bottom">
  <div class="row w-100">
    <div class="col-4 text-start">
      {{if .NextInSection}}<a href="{{strings.TrimRight "/" .NextInSection.Permalink}}">{{.NextInSection.Title}}</a>{{end}}
    </div>
    <div class="col-4 mb-2 text-center">
      <a class="text-dark"
        href="{{strings.TrimRight "/" .Parent.Permalink}}">{{.Parent.Title}}</a>
         <h4>{{.Title}}</h4>
    </div>
    <div class="col-4 text-end">
      {{if .PrevInSection}}<a href="{{strings.TrimRight "/" .PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a>{{end}}
    </div>
  </div>
</nav>

<main id="content" class="pt-3">
  {{- .Content -}}
</main>
{{ if eq $.Page.IsPage true }}
<!-- Modal -->
<div class="modal fade" id="noteModel" tabindex="-1" aria-labelledby="noteModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModelLabel">Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <textarea class="form-control" id="noteText" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}