{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<nav class="navbar">
  <div class="row w-100">
    <div class="col-4 text-start">
      {{if .NextInSection}}<a href="{{strings.TrimRight "/" .NextInSection.Permalink}}">{{.NextInSection.Title}}</a>{{end}}
    </div>
    <div class="col-4 mb-2 text-center">
      {{ partial "breadcrumbs.html" . }}
    </div>
    <div class="col-4 text-end">
      {{if .PrevInSection}}<a href="{{strings.TrimRight "/" .PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a>{{end}}
    </div>
  </div>
</nav>



{{ partial "books-options.html" . }}

  <main id="content" class="row min-vh-100">
        {{- .Content -}}
  </main>

{{ end }}

